@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.cardImage {
  object-fit: cover;
  width: 100%;
  min-height: 50%;
}

.flickCardDiv {
  box-shadow: #000000ad 4px 4px 8px;
  border: none;
  height: 100%;
}

.shuffleCardDiv {
  box-shadow: #000000ad 4px 4px 8px;
  border: none;
  height: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.flickCardBtns {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.mainMoodsDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 175px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

.anxiousIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.anxiousIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.blahIcon {
  justify-self: center;
  height: 170px;
  width: 170px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.blahIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.boredIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.boredIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.buzzedIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.buzzedIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.chillIcon {
  justify-self: center;
  height: 175px;
  width: 175px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.chillIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.happyIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.happyIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.heartbrokenIcon {
  justify-self: center;
  height: 175px;
  width: 175px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.heartbrokenIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.highIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.highIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.mischievousIcon {
  justify-self: center;
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

.mischievousIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.moodyIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.moodyIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.nostalgicIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.nostalgicIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.mischievousIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.mischievousIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.sadIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.sadIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.sickIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.sickIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.sillyIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.sillyIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
}

.sadIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.sadIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
}

.stressedIcon {
  justify-self: center;
  height: 200px;
  width: 200px;
}

.stressedIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
}

.wistfulIcon {
  justify-self: center;
  height: 175px;
  width: 175px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.wistfulIconDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 250px;
  margin-top: 20px;
}

.loginButton {
  border: none;
  background-color: none;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 150px;
}

.linkIconDiv {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.watchlistIconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.watchlistIcon {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.shuffleIconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.shuffleIcon {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.moodsIconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodsIcon {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.noFlicksDiv {
  display: block;
  margin-top: 50px;
}

.noFlicksFound {
  display: block;
  text-align: center;
  margin-top: 100px;
}

.noFlicksBtn {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.foundFlicksBtn {
  margin-top: 50px;
  margin-left: 130px;
}

.moodsCardsDiv {
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
}

.watchlistCardDiv {
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
}

.watchlistSearchbar {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.filterGenre {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.noRecsDiv {
  text-align: center;
  margin-top: 50px;
}

.recommendationHeader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.recommendationCardDiv {
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 120px;
}

 .shuffleFormDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;  
  align-items: center;
 }

 .iFeelLike {
  margin-bottom: 20px;;
 }

 .typeSelect {
  width: 450px;
 }

 .statusSelect {
  width: 450px;
 }

 .recommendedByField {
  width: 400px;
  margin-bottom: 25px;
 }

 .genreDiv {
  columns: 2 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  column-gap: 100px;
  margin-left: 30px;
 }

 .moodDiv {
  columns: 2 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  column-gap: 145px;
  margin-left: -5px;
 }

 .flickFormContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;  
  align-items: center;
 }

 .genreDivFlick {
  columns: 2 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  column-gap: 100px;
  margin-left: 30px;
 }

 .moodDivFlick {
  columns: 2 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  column-gap: 100px;
  margin-left: 30px;
 }

 .flickHeaderText {
  margin-bottom: 20px;;
 }

 .flickFormButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .photoUrlFlick {
  margin-top: 10px;
 }

 .shuffleGenre {
  margin-left: -390px;
  margin-bottom: -10px;
 }

 .shuffleMood {
  margin-left: -390px;
  margin-bottom: -10px;
 }

 .shuffleResultDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
 }

 .tryAgainButton {
  margin-left: -315px;
  margin-bottom: 20px;
 }

 .moodsHeader {
  text-align: center;
  margin-top: 50px;
 }

 .watchlistHeader {
  margin-top: 50px;
 }

 .cardDetails {
  text-align: left;
  margin-left: 20px;
 }

 .watchTitleShuffle {
  text-align: center;
 }

 .flickCardBody {
  height: 400px;
 }

 .recommendationTitle {
  text-align: center;
 }

 .flickTitle {
  text-align: center;
 }

 .recommendationCardDiv {
  margin-bottom: 30px;
 }

 .profileCardDiv {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
 }

 .favoritedFlicksDiv {
  display: flex;
  flex-direction: row;
 }

 .profileBtn {
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
 }

 .favGenres {
  width: 185px;
 }

 .profileBtn {
  border: none !important;
  background-color: none !important;
 }
