@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.cardImage {
  object-fit: cover;
  width: 100%;
  min-height: 50%;
}

.flickCardDiv {
  box-shadow: #000000ad 4px 4px 8px;
  border: none;
  height: 100%;
}

.shuffleCardDiv {
  box-shadow: #000000ad 4px 4px 8px;
  border: none;
  height: 100%;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.flickCardBtns {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.anxiousIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.blahIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.blahIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.boredIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.buzzedIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.chillIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.happyIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.heartbrokenIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.highIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.happyIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.mischievousIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.moodyIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.nostalgicIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.mischievousIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.sadIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.sickIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.sillyIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.sadIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.stressedIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.wistfulIcon {
  justify-self: center;
  height: 35%;
  width: 35%;
  padding: 0;
  margin: 0;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 250px;
}

.loginButton {
  border: none;
  background-color: none;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 150px;
}

.linkIconDiv {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.watchlistIconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.watchlistIcon {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.shuffleIconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.shuffleIcon {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.moodsIconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodsIcon {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}
